<section class="mt-4">
    <div class="container" style="padding-top: 80px;">
        <table class="table mt-5" id="locationsTable">
            <thead>
                <tr>
                    
                    <th >Location</th>
                    <th >Description</th>
                    <th >Image</th>
                    <th >Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each places}}
                <tr>
                    <th>{{this.Name}}</th>
                    <td style="width: 600px;">{{this.Description}}</td>
                    <td><img src="/location-images/Locations/{{this._id}}/{{this._id}}_Image.jpg" style="width: 70px; height:50px"></td>
                    <td>
                        <a href="/admin/edit-location?id={{this._id}}" class="btn btn-warning">Edit</a>
                        <a href="/admin/delete-location?id={{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Do you want to delete {{this.Name}} ?')">Delete</a>
                        {{!-- <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger">Delete</a> also we can
                        call like this --}}
                        {{!-- if we use the ? method then we use req.query.id, if we use the second method we use
                        req.params.id --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
  $(function(){
    $('#locationsTable').DataTable();
  });
</script>