<section>
    <div class="banner border-bottom pb-4">
        <img src="/location-images/{{location._id}}.jpg" class="banner-img" style="margin-top: -2%">

        {{!-- Weather API --}}
        <div class="weather-card">

            {{!-- <div class="error">
                <p>Invalid city name</p>
            </div> --}}

            <div class="weather">
                <img src="/images/weatherAPI/{{weatherData.icon}}" class="weather-icon">
                <h1 class="temp">{{weatherData.temp}}</h1>
                <h2 class="city">{{weatherData.city}}</h2>
                {{!-- <div class="weather-details"> --}}
                    <div class="weather-col">
                        <img src="/images/weatherAPI/humidity.png">
                        <div>
                            <p class="humidity">{{weatherData.humidity}}</p>
                            <p>Humidity</p>
                        </div>
                    </div>
                    <div class="weather-col">
                        <img src="/images/weatherAPI/wind.png">
                        <div>
                            <p class="wind">{{weatherData.wind}}</p>
                            <p>Wind</p>
                        </div>
                    </div>
                    {{!--
                </div> --}}
            </div>
        </div>
    </div>
    {{!-- --}}


    <div class="loc-description mx-5 px-3 pt-2">
        <p>
            {{location.Description}}
        </p>
    </div>



    <div class="pt-2 pb-4">
        <div class="loc-activities row" style="margin-left: 195px;">
            <div class="location-card card col-md-3 mr-5" style="width: 18rem;">
                <img class="location-image card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/a.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
            </div>
            <div class="location-card card col-md-3 mr-5" style="width: 18rem;">
                <img class="location-image card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/b.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
            </div>
            <div class="location-card card col-md-3 mr-5" style="width: 18rem;">
                <img class="location-image card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/c.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
            </div>

        </div>
    </div>

    