<section>
    <div class="banner border-bottom pb-4">
        <img src="/location-images/Locations/{{location._id}}/{{location._id}}_Image.jpg" class="banner-img" style="margin-top: -2%">

        {{!-- Weather API --}}
        <div class="weather-card">

            {{!-- <div class="error">
                <p>Invalid city name</p>
            </div> --}}

            <div class="weather">
                <img src="/images/weatherAPI/{{weatherData.icon}}" class="weather-icon">
                <h1 class="temp">{{weatherData.temp}}</h1>
                <h2 class="city">{{weatherData.city}}</h2>
                {{!-- <div class="weather-details"> --}}
                    <div class="weather-col">
                        <img src="/images/weatherAPI/humidity.png">
                        <div>
                            <p class="humidity">{{weatherData.humidity}}</p>
                            <p>Humidity</p>
                        </div>
                    </div>
                    <div class="weather-col">
                        <img src="/images/weatherAPI/wind.png">
                        <div>
                            <p class="wind">{{weatherData.wind}}</p>
                            <p>Wind</p>
                        </div>
                    </div>
                    {{!--
                </div> --}}
            </div>
        </div>
    </div>
    {{!-- --}}


    <div class="loc-description mx-5 px-3 pt-2">
        <p>
            {{location.Description}}
        </p>
    </div>



    <div class="pt-2 pb-4">
        <h2 class="text-center mb-4"><b>Interesting Views/Activities</b></h2>
        <div class="loc-activities row" style="margin-left: 195px;">
            <div class="clear card col-md-3 mr-5 weather-clear" style="width: 18rem;">
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/a.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/a.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/a.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
            </div>
            <div class="rainy card col-md-3 mr-5 weather-rainy" style="width: 18rem;">
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/b.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/b.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/b.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
            </div>
            <div class="windy card col-md-3 mr-5 weather-windy" style="width: 18rem;">
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/c.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/c.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
                <img class="location-image location-card card-img-top border-bottom pb-1"
                    style="height:13rem; width:331px; margin-left: -14px; margin-top: 1px;"
                    src="/location-images/locations/{{location._id}}/c.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{location.Attraction}}</p>
                </div>
            </div>

        </div>
    </div>


    <!-- ... your existing HTML code ... -->

    <script>
        // Assume you have a variable 'weatherCondition' with values like 'Clear', 'Rainy', 'Windy'
        //var weatherCondition = {{ weatherData.weather }};  // Replace this with the actual weather condition
         var weatherCondition = 'windy';  // Replace this with the actual weather condition

        // Function to add weather-specific classes to activities
        function addWeatherClasses(weather) {
            var activityContainers = document.querySelectorAll('.loc-activities .card');

            activityContainers.forEach(function (activityContainer) {
                // Extract the weather type from the activity container's class
                var activityWeatherType = activityContainer.classList[0].replace('weather-', '');

                // Check if the weather type matches the current weather condition
                if (activityWeatherType.toLowerCase() === weather.toLowerCase()) {
                    // Add a class to highlight or modify the styling for matching activities
                    activityContainer.classList.add('highlight-activity');
                }
            });
        }

        // Example: You might get the weather condition from your API response
        // Replace this with the actual code to get weather condition from your API
        // For demonstration, using a fixed value here
        addWeatherClasses(weatherCondition);
    </script>

    <style>
        /* ... your existing CSS styles ... */

        .highlight-activity::before {
            background: rgba(0, 0, 0, 0.5);
            /* Adjust the alpha value for transparency */
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*z-index: 1;
             Adjust the z-index if needed */
        }

        .highlight-activity .card::before {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            /* Text color on the overlay */
            font-size: 18px;
            /* Adjust font size */
        }
    </style>