<section>
    {{!-- <div class="banner border-bottom pb-4">
        <img src="{{banner}}" class="banner-img" style="margin-top: -2%">
    </div> --}}
    <div class="slider-wrapper" style="position:relative;">
        <div class="slider" style="overflow-x: hidden;">
            <img id="slide-1" src="{{banner1}}" alt="">
            <img id="slide-2" src="{{banner2}}" alt="">
            <img id="slide-3" src="{{banner3}}" alt="">
            <img id="slide-4" src="{{banner4}}" alt="">
            <img id="slide-5" src="{{banner5}}" alt="">
            <img id="slide-6" src="{{banner6}}" alt="">
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
            <a href="#slide-6"></a>
        </div>
    </div>
</section>
<section class="border-bottom mt-3 pt-3 pb-5">
    <div class=" container discover-text">
        <h3><b>Discover your favorite destination</b></h3>
        <p class="border-bottom pb-3">Embark on a journey of discovery as you explore diverse landscapes and cultures,
            finding your favorite
            destination along the way. From breathtaking natural wonders to vibrant cities, let your wanderlust guide
            you to
            unforgettable experiences.</p>
    </div>
    <div class="container mt-2">
        <div class="row">
            {{#each places}}
            <div class="col-md-4 mt-4">
                <div class="location-card card" style="width: 18rem; height: 25rem">
                    <img class="location-image card-img-top" src="/location-images/{{this._id}}.jpg" alt="Card image cap"
                        style="height: 191px;">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{this.Name}}</b></h5>
                        <p class="card-text">{{this.Description}}</p>
                        <a href='/location?id={{this._id}}&name={{this.Name}}'
                            class="visit card-btn btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section class="website-highlights border-bottom pt-5 pb-5">
    <div class="row">
        <div class="col-md-7 ">
            <img src="{{bgimage}}" alt="">
            <div class="card-container px-4 pt-3">
                <div class="card-image">
                    <img src="{{image1}}" alt="">
                </div>
                <div class="card-image pt-2">
                    <img src="{{image2}}" alt="">
                </div>
                <div class="card-image pt-2">
                    <img src="{{image3}}" alt="">
                </div>
                <div class="card-image pt-2">
                    <img src="{{image4}}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-5 website-highlights-text">
            <h3 class=""><b>Easy to use <br>Easy to plan</b></h3>
            <p>No more switching between different apps, tabs, and tools to keep track of your travel plans.</p>
        </div>
    </div>
</section>

<section class="my-5 py-3">
    <div class="container featureSection">
        <div class="md-col-12 text-center">
            <h4><b>For every kind of trip and every destination</b></h4>
            <p>PlanMyTrip is the best free planning app for any trip you might have in mind. It's:</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="featureSection-1">
                    <h4><b>Plan Your Journey</b></h4>
                    <p class="text-center">Utilize PlaneMyTrip to effortlessly explore destinations, discover points of
                        interest, and access essential information for a seamless travel experience.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featureSection-2">
                    <h4><b>The best vacation planner</b></h4>
                    <p class="text-center">Use PlaneMyTrip to map your journey to figure out the best routes, keep track
                        of hotel and flight
                        bookings and reservations, and read guides from other trip planning websites.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featureSection-3">
                    <h4><b>Sync Your Travel Plans</b></h4>
                    <p class="text-center">Use PlaneMyTrip to seamlessly share and coordinate your travel plans with
                        tripmates, friends, and family members, ensuring everyone stays informed and connected
                        throughout the journey</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="apppromo border-bottom py-2">
    <div class="container">
        <div class="row">
            <div class="coming-soon">
                <img src="{{comingSoon}}" alt="">
            </div>
            <div class="col-md-4 apppromo-text">
                <h4><b>Plan on the go with our free travel app</b></h4>
                <p>With PlanMyTrip mobile travel planner on Android and iOS, access and plan your trips wherever you go</p>
                <a href="https://play.google.com/" target="_blank"><img src="{{androidBadge}}" alt=""></a>
                <a href="https://www.apple.com/in/app-store/" target="_blank"><img class="ml-3" src="{{iosBadge}}" alt=""></a>
            </div>
            <div class="col-md-3 apppromo-img">
                <img src="{{apppromo}}" alt="">
            </div>
        </div>
    </div>
</section>

